
<html>

<% include ../partials/header %>
<% include ../partials/sidebar_nav_logistica %>


 <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
 </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
       
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">

                                    <form method="POST" action="/conductor_update/<%=conductor._id%>">

                                    


                                        <div class="form-group">

                                            <label>Cédula</label>

                                            <input class="form-control" name="cedula" type="text"  required="" value="<%=conductor.cedula%>">
                                        </div>

                                        <div class="form-group">

                                            <label>Nombre</label>

                                            <input class="form-control" name="nombre" type="text"  required="" value="<%=conductor.nombre%>">
                                        </div> 


                                        <div class="form-group">

                                            <label>Dirección</label>

                                            <input class="form-control" name="direccion" type="text" required="" value="<%=conductor.direccion%>">
                                        </div>  



                                        <div class="form-group">

                                            <label>teléfono</label>

                                            <input class="form-control" name="telefono" type="text"  required="" value="<%=conductor.telefono%>">
                                        </div>  

                                        <div class="form-group">

                                            <label>Nacimiento</label>

                                            <input class="form-control" name="nacimiento" type="text"  required="" value="<%=conductor.nacimiento%>">
                                        </div>  
  

                                        
                                        <button type="submit" class="btn btn-primary">Submit Button</button>
                                        <button type="reset" class="btn btn-default">Reset Button</button>
                                    </form>
                                  
                                                               
                                  </div>

                                </div>

                                </div>
                         
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
   
   <% include ../partials/footer %>

</html>